* {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}
h1 {
  font-size: 40px;
  padding: 16px;
  letter-spacing: 4px;
  background-color: rgb(181, 181, 181);
  color: rgb(56, 56, 56);
  /* hyphens: auto; */
}
h2 {
  padding: 16px;
}
form {
  display: flex;
}
input {
  font-size: 24px;
  text-align: center;
  letter-spacing: 1px;
  padding: 16px;
  cursor: pointer;
  border: 2px solid grey;
}
label {
  font-size: 24px;
  text-align: center;
  letter-spacing: 1px;
  color: grey;
  cursor: pointer;
}
button {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  padding: 16px;
  cursor: pointer;
  border: 2px solid orange;
  color: white;
  background-color: orangered;
  flex-grow: 1;
  display: grid;
  place-content: center;
}

.languages, .agreement, select {
  padding: 16px;
  border: 2px solid grey;
  text-align: center;
}

select {
  font-size: 24px;
  color: grey;
}

.loader {
  pointer-events: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: bisque;
  animation: framesLoader 1s ease infinite;
}
@keyframes framesLoader {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

/* TABLE */
#answers {
  border-collapse: collapse;
  width: 100%;
}

#answers td, #customers th {
  border: 1px solid bisque;
  padding: 8px;
}

#answers tr:nth-child(even){background-color: #f2f2f2;}

#answers tr:hover {background-color: bisque;}

#answers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

/* BREAKPOINTS */
@media only screen and (max-width: 1536px) {
  h1 {
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
