* {
  margin: 0;
}
body {
  height: 100%;
}
h1 {
  text-align: center;
  font-size: 48px;
  padding: 24px;
  margin: 16px;
  letter-spacing: 4px;
  background-color: #F4F4F4;
  color: white;
}
form {
  padding: 16px;
}
input {
  width: 200px;
  font-size: 24px;
  text-align: center;
  letter-spacing: 1px;
  padding: 16px;
  cursor: pointer;
  border: 2px solid grey;
}
button {
  width: 240px;
  font-size: 24px;
  text-align: center;
  letter-spacing: 1px;
  padding: 16px;
  margin: 16px;
  cursor: pointer;
  border: 2px solid orange;
  color: white;
  background-color: orangered;
}
#checkbox {
  height: 25px;
  width: 25px;
  background-color: #eee;
}
#checkbox:hover {
  background-color: #ccc;
}
#checkbox:checked {
  background-color: #2196F3;
}
