*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  /* height: 100%; */
  padding-top: 5%;
  background: linear-gradient(to right, #00AAFF, #00FF6C);
  text-align: center;
}

h1 {
  max-width: 50%;
  text-align: center;
  font-size: 24px;
  margin: 0 auto;
  padding: 16px;
  letter-spacing: 1px;
  background-color: rgba(0, 0, 0, .75);
  color: white;
}

form {
  padding: 16px;
}

input {
  height: 56px;
  width: 50%;
  font-size: 24px;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
  border: 1px solid grey;
}

button {
  width: 240px;
  font-size: 24px;
  text-align: center;
  letter-spacing: 1px;
  padding: 16px;
  margin: 16px;
  cursor: pointer;
  border: 2px solid orange;
  color: white;
  background-color: orangered;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #f2f1f1;
  padding: 10px;
  margin: 0 auto;
  max-width: 50%;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(209, 209, 209, 0.8);
  padding: 16px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
}

.grid-item:hover {
  background-color: darkslategray;
  color: white;
}

.grid-item.operation, #comma:hover {
  background-color: blueviolet;
  color: white;
}

#equal:hover {
  background-color: greenyellow;
}

#reset {
  background-color: rgba(255, 69, 0, 0.8);
  border: 0;
  color: white;
}

#reset:hover {
  background-color: rgba(255, 69, 0, 1);
}

/* BREAKPOINTS */
@media only screen and (max-width: 232px) {
  #calc {
    font-size: 12px;
  }
}

@media only screen and (max-width: 978px) {
  body {
    background-color: gainsboro;
  }

  h1 {
    max-width: 100vw;
  }

  input {
    width: 100vw;
  }

  .container {
    max-width: 100vw;
  }
}
