*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  padding-top: 5%;
  text-align: center;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  max-width: 50%;
  text-align: center;
  font-size: 24px;
  margin: 0 auto;
  padding: 16px;
  letter-spacing: 1px;
  background-color: rgba(0, 0, 0, .2);
  color: white;
  border-radius: 16px 16px 0 0;
}

form {
  padding: 16px;
}

input {
  height: 56px;
  width: 50%;
  font-size: 24px;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
  border: 1px solid grey;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #f2f1f1;
  padding: 10px;
  margin: 0 auto;
  max-width: 50%;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(209, 209, 209, 0.8);
  padding: 16px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
}

.grid-item:hover {
  background-color: darkslategray;
  color: white;
}

.grid-item.operation, #comma:hover {
  background-color: blueviolet;
  color: white;
}

#equal:hover {
  background-color: greenyellow;
}

#reset {
  background-color: rgba(255, 69, 0, 0.8);
  border: 0;
  color: white;
}

#reset:hover {
  background-color: rgba(255, 69, 0, 1);
}

/* BREAKPOINTS */
@media only screen and (max-width: 232px) {
  #calc {
    font-size: 12px;
  }
}

@media only screen and (max-width: 978px) {
  body {
    padding-top: 0;
    background-color: gainsboro;
  }

  h1 {
    max-width: 100vw;
  }

  input {
    width: 100vw;
  }

  .container {
    max-width: 100vw;
  }
}
